:root {
    --color-brand-primary: #526dc7;
    --color-brand-secondary: #ffa500;
    --color-brand-tertiary: #fafafa;
    --color-brand-tertiary-hover: #f0f0f0;
    --font-body: Arial, Helvetica, sans-serif;
    --font-color: #000000;
}
