.fillblank-container {
    margin-top: 20px;
}

.fillblank-input {
    width: 60%;
    padding: 10px;
    font-size: 1.1em;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
