.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


html, body {
  height: 100%;
  font-size: 14px;
}


body {
  display: flex;
  flex-direction: column;
  margin: 0; /* was margin-bottom: 60px; */
  font-family: var(--font-body) !important;
  color: var(--font-color) !important;
  background-color: var(--color-brand-tertiary) !important;
}


main {
  flex: 1 0 auto;
  margin-bottom: 2rem;
}


footer {
  margin-top: auto;
}

.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.main-wrapper {
  margin-top: 4rem;
}

.main-header {
  font-size: 3rem;
  font-weight: 600;
}

.author {
  margin-top: 1rem;
  font-style: italic;
  color: #555;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Large Text Mode */
body.large-text {
    font-size: 1.5rem;
}

body.large-text h1,
body.large-text h2,
body.large-text h3 {
    font-size: 1.5em;
}

